<% layout('./layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Edit Campground</h1>
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="mb-3">
                <div class="mb-3">
                    <label class="form-label text-capitalize" for="title">title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        value="<%= campground.title %> ">
                </div>
                <div class="mb-3">
                    <label class="form-label text-capitalize" for="price">price:</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input  class="form-control" type="text" name="campground[price]" id="price" value="<%= campground.price %> ">
                        <span class="input-group-text">.00</span>
                    </div>
                </div> 
                <div class="mb-3">
                    <label class="form-label text-capitalize" for="image">image url:</label>
                    <input class="form-control" type="text" name="campground[image]" id="image"
                        value="<%= campground.image %> ">
                </div>
                <div class="mb-3">
                    <label class="form-label text-capitalize" for="description">description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description" value="<%= campground.description %>"><%= campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label text-capitalize" for="location">location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        value="<%= campground.location%> ">
                </div>
                <div class="mb-5 d-flex">
                    <button type="submit" class="btn btn-success text-capitalize">Update Campground</button>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary text-capitalize mx-3">Cancel</a>
                </div>
            </form>
        </div>
    </div>